* {
    font-family:  'Poppins' ,'Nunito Sans' , sans-serif , 'Open Sans', sans-serif , sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    text-transform: capitalize;
}
:root {
    --bg-color : #1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color : #0ef;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem ;
}
/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {
    border-bottom: .1rem solid rgba( 0 , 0 , 0 , 0.2);
}
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    cursor: default;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.navbar a:hover ,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
/* Home Section style */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    width: 45vw;
}
.home .home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
    span {
    color: var(--main-color);
}
.home .home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
    p {
    font-size: 1.6rem;
    font-weight: 500;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0 ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem ;
    background: var(--main-color);
    border-radius: 4rem ;
    -webkit-border-radius: 4rem ;
    -moz-border-radius: 4rem ;
    -ms-border-radius: 4rem ;
    -o-border-radius: 4rem ;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.btn:hover {
    box-shadow: none;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}

.about-img img {
    width: 40vw;
}
    .heading {
    text-align: center;
    font-size: 4.5rem
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;

}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
    font-weight: 400;
}
/* Services Section  */

.services h2{
    margin-bottom: 5rem;

}

.services-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    gap: 2rem;
}
.services-container .services-box {
    /* flex: 1 1 30rem; */
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem ;
    text-align: center;
    border: 0.2 solid var(--bg-color);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: .5s ease ;
    -webkit-transition: .5s ease ;
    -moz-transition: .5s ease ;
    -ms-transition: .5s ease ;
    -o-transition: .5s ease ;
}
.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    box-shadow: 0 0 1rem var(--main-color);
}
.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}
.services-box h3 {
    font-size: 2.6rem;
    margin: 2rem;
    color: #ccc;

}
.services-box p {
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
}
/* portfolio section style */

.portfolio {
    background: var(--second-bg-color);
}
.portfolio h2 {
    margin-bottom: 4rem;
}
.portfolio-container {
    display: grid;
    /* grid-template-columns: repeat(3, minmax(35rem, 1fr)); */
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box {
    position: relative;
    box-shadow:  0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.portfolio-box:hover img {
    transform:scale(1.1) ;
    -webkit-transform:scale(1.1) ;
    -moz-transform:scale(1.1) ;
    -ms-transform:scale(1.1) ;
    -o-transform:scale(1.1) ;
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba( 0 , 0 , 0 , 0.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
.portfolio-layer h4 {
    font-size: 3.3rem ;
}
.portfolio-layer p {
    font-size: 2rem;
    margin: .5rem 0 1rem 1rem;
}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}
/* latest project */
.latest-project h2 {
    margin: 10rem 0;
}
.project-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-columns: repeat(3, minmax(35rem, 1fr));
    *//*grid-template-columns: repeat(5,1fr);
    *//*display: flex;
    justify-content: center;
    */
    align-items: center;
    gap: 2.5rem;
}

.project-container  .project-box {
    cursor: pointer;
    box-shadow:  0 0 1rem var(--bg-color);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 3rem 2rem 4rem ;
    text-align: center;
    border-right: .02rem solid var(--text-color) ;
    /* border-left: .1rem solid var(--text-color) ; */

    transition: .5s ease ;
    -webkit-transition: .5s ease ;
    -moz-transition: .5s ease ;
    -ms-transition: .5s ease ;
    -o-transition: .5s ease ;
}
.project-container  .no-border {
    border: none;
}
.project-container  .project-box h3 {
    font-size: 2.6rem;
    margin: 2rem;
    color: #ccc;
}
.project-container  .project-box  i {
    font-size: 5rem;
    color: var(--main-color);
}
.project-container .project-box:hover {
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-color: var(--main-color);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    box-shadow: 0 0 1rem var(--main-color);

}


.project-box p {
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
    color:dimgray;
    text-decoration:underline;
}


/* number style  */
.section-number {
    width: 100%;
    padding: 0;
}
.number{
    position: relative;
    background-image: url(../images/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 25vw;
    width: 100%;
  }
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); }

  .numbers-items{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 10rem;
    
  }

  .number-item{
    padding: 3rem 2rem 4rem ;
    text-align: center;
  }
  .numbers-items i{
    font-size: 7rem;
    color: var(--main-color);
 
  }
  /* .number-item-title{
    font-weight: bold;
    font-size: 30px;
    color: #fff;
  } */
 


/* team style */
.team {
    background-color: var(--second-bg-color);
}
.team h2 {
    margin-bottom: 4rem;
}
.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem 5rem;
   
   
}
.team-box {
    background-color:   #ccc;
    border-radius: 2rem;
    padding: 3rem 2rem 4rem ;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.team-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    box-shadow: 0 0 1rem var(--main-color);
}
.team-box img {
    height: 20vw;
}
.team-box h3 {
    margin-top: 1rem;
    font-size: 2.6rem;
    font-weight: 500;
    color: var(--bg-color);
}
.team-box p {
    text-align: center;
    color:#cad1d7;
    color: var(--bg-color);
}
/* pricing table style */

.pricing h2 {
    margin: 7rem 0;
}
.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem 5rem;
} 
.pricing-box {
    width: 20%;
text-align: center;
background-color:   #1E2A38;
border-radius: 2rem;
padding: 4rem ;
transition: .5s ease;
-webkit-transition: .5s ease;
-moz-transition: .5s ease;
-ms-transition: .5s ease;
-o-transition: .5s ease;
-webkit-border-radius: 2rem;
-moz-border-radius: 2rem;
-ms-border-radius: 2rem;
-o-border-radius: 2rem;

}
.pricing-box:hover {
    box-shadow: 0 0 1rem var(--main-color);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.pricing-container .pricing-box h4 {
    margin: 2rem 0 3rem ;
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color);
    
}
.pricing-container .pricing-box .circle-price {
    width: 10vw;
    height:10vw ;
    margin: 2rem auto;
   border: .2rem solid var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.pricing-container .pricing-box .circle-price  h3{
    margin-top: 3rem;
    font-size: 5rem;
}
.pricing-container .pricing-box .circle-price  p{
    font-size: 2.5rem;
}
.pricing-container .pricing-box li {
    list-style-type: none;
    font-size:2rem ;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}






/* footer style  */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}
.footer-text p {
    font-size: 1.6rem;
}
.footer-icon-top a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}
.footer-icon-top a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-icon-top a i {
    font-size: 4rem;
    color: var(--text-color);
}

/* Responsive */